
@{
    ViewBag.Title = "AddBudget";
    Layout = "~/Views/Shared/_Layout_Add.cshtml";
}

<!-- Sweet Alert -->
<link href="../plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
<link href="../plugins/animate/animate.css" rel="stylesheet" type="text/css">



<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">

            </div>
            <h4 class="page-title">NEW BUDGET</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2 pull-right">
                    <div class="col-md-12 text-lg-right">
                        <button class="btn btn-gradient-primary" id="btnSubmit">Submit</button>
                        <button class="btn btn-gradient-danger" type="button" onclick="location.href='/BudgetManagement/Index'">Cancel</button>
                    </div>
                </div>
                <br />
                <h5></h5>
                <br />
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Budget Type<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <select class="select form-control select2" id="ddlBudgetType" name="BudgetType">
                                    <option value="0">Select</option>
                                </select>
                                <ul class="parsley-errors-list filled" id="SpnBudgetType" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div><!-- end col -->
                    </div>
                   

                </div>

                <!--<div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Contact Person<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtContactPerson">
                                <ul class="parsley-errors-list filled" id="SpnContactPerson" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div>--><!-- end col -->
                    <!--</div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Contact Number<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtPhoneNumber" maxlength="10" required pattern="[0-9]+">
                                <ul class="parsley-errors-list filled" id="SpnPhoneNumber" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div>--><!-- end col -->
                    <!--</div>
                </div>-->
                <!--<div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Email Address<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="txtEmail" id="txtEmail" maxlength="100" required>
                                <ul class="parsley-errors-list filled" id="SpnEmail" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div>--><!-- end col -->
                    <!--</div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">City<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtCity">
                                <ul class="parsley-errors-list filled" id="SpnCity" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div>--><!-- end col -->
                    <!--</div>
                </div>-->
                <div class="form-group row">
                    <!--<div class="col-md-6">
        <div class="form-group row">
            <label class="col-lg-3 col-form-label">Address</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="txtAddress">
                <ul class="parsley-errors-list filled" id="SpnAddress" style="display:none">
                    <li class="parsley-required">This field is required</li>
                </ul>
            </div>
        </div>-->
                    <!-- end col -->
                    <!--</div>-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Budget Category<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <select class="select form-control select2" id="ddlBudgetCategory" name="Budgetcategory">
                                    <option value="0">Select</option>
                                </select>
                                <ul class="parsley-errors-list filled" id="SpnBudgetCategory" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Budget SubCategory<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <select class="select form-control select2" id="ddlBudgetSubCategory" name="Budgetcategory">
                                    <option value="0">Select</option>
                                </select>
                                <ul class="parsley-errors-list filled" id="SpnBudgetCategory" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div><!-- end col -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Budget Onwer<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <select class="select form-control select2" id="ddlOnwer" required>
                                    <option value="0">Select</option>
                                </select>
                                <ul class="parsley-errors-list filled" id="SpnOnwer" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Approved Budget<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtApproved" maxlength="100">
                                <ul class="parsley-errors-list filled" id="SpnApproved" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div> 
                    </div>

                </div>
                <div class="form-row">
                    @*<div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Service Category<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <select class="select select2-multiple form-control select2" multiple id="ddlSupllierService" required>
                                    <option value="0">Select</option>
                                </select>
                                <ul class="parsley-errors-list filled" id="SpnServiceCategory" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div> end col
                    </div>*@
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Deadline<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtDeadline" maxlength="100">
                                <ul class="parsley-errors-list filled" id="SpnDeadline" style="display:none">
                                    <li class="parsley-required">This field is required</li>
                                </ul>
                            </div>
                        </div> 
                    </div>

                </div>
                <div class="form-group row">
                    <div class="form-group col-md-12">
                        <label for="txtname" class="col-form-label">Description</label>
                        <textarea style="min-height: 160px !important;height:92px !important;background-color:aliceblue;" required="" id="txtNotes" class="form-control"></textarea>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-md-4 text-lg-right">
                            <button class="btn btn-gradient-primary" id="btnSubmit" type="submit">Submit</button>
                            <button class="btn btn-gradient-danger" type="button">Cancel</button>
                        </div>
                    </div>*@
            </div><!--end card-body-->
        </div>
        <!--end card--> <!--end card-body--> <!--end card-->
    </div><!--end col-->s
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<!-- Sweet-Alert  -->
<script src="../plugins/sweet-alert2/sweetalert2.min.js"></script>
<script src="../assets/pages/jquery.sweet-alert.init.js"></script>
<script src="~/Scripts/View/Common/WebConfig.js"></script>
<script src="~/Scripts/View/Common/Common.js"></script>
<script src="~/Scripts/View/Budget/AddBudget.js"></script>